{%  extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md">
		<div class="card card-body">
			<h5> {{message}}</h5>
		</div>
	</div>
</div>

<form action="" method="POST">
    {% csrf_token %}
    {{form}}

    <div class="row"> 
        <input style="margin-left: 10px;" type="submit" name="Submit">
        <a style="margin-left: 10px;" class="btn btn-warning" href="{% url 'engineerapp:engineer' engineer.engineer_id %}"> Back to the Engineer Page </a>
    </div>


</form>


{% endblock %}