{% load static %} <!-- need for every single html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<a class="navbar-brand" href="#">Navbar</a>-->  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'engineerapp:mainPage' %}"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'engineerapp:notuserlp' %}"> Learning Paths </a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'engineerapp:notuserLPsteps' %}"> Learning Path Steps </a>
        </li>
        
      </ul>
    </div>

    <span style="color: white; margin-right: 20px;" >  {{request.user}}  </span>
    <span style="color: white; margin-right: 20px;"> <a href="{% url 'engineerapp:logout' %}"> Logout </a></span>

  </nav>